html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1 {
  margin: 0;
}

*:not([type="checkbox"]):not([type="radio"]) {
  transition: box-shadow 0.15s ease-in-out 0s;
  outline: 0px;
}

*:not([type="checkbox"]):not([type="radio"]):focus {
  box-shadow: rgba(0, 109, 255, 0.4) 0px 0px 0px 0.2em;
  position: relative;
  z-index: 2;
}
